<section class="my-2">
    <div class="container">
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
            @for(category of categories ; track category._id){
                <div class="p-2 cursor-pointer">
                    <div class="product p-2" [routerLink]="['/main/categoryDetails' , category._id]">
                        <div class="category-img">
                            <img [src]="category.image" class="w-100" height="300px" [alt]="category.slug">
                        </div>
                        <div class="category-info my-2 text-center">
                            <h2 class="text-main fs-5">{{category.name}}</h2>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>