
<!--Main-slider-->
<section class="container-fluid my-2">
    <div class="row g-0">
        <div class="col-12 col-md-10">
            <owl-carousel-o [options]="mainSlider">
                <ng-template carouselSlide>
                    <img src="./assets/images/slider-image-1.jpeg" class="w-100" height="300px" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./assets/images/slider-image-2.jpeg" class="w-100" height="300px" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./assets/images/slider-image-3.jpeg" class="w-100" height="300px" alt="">
                </ng-template>  
            </owl-carousel-o>
        </div>
        <div class="col-12 col-md-2">
            <img src="./assets/images/grocery-banner.png" class="w-100" height="150px" alt="grocery-banner">
            <img src="./assets/images/grocery-banner-2.jpeg" class="w-100" height="150px" alt="grocery-banner">
        </div>
    </div>
</section>

<!--Categories section-->
<section class="my-2">
    <div class="text-center m-2">
        <h2>Popular Categories</h2>
    </div>
    <owl-carousel-o [options]="categoriesSlider">

        @for(category of categories ; track category._id){
            <ng-template carouselSlide>
                <img [src]="category.image" [alt]="category.name" [title]="category.name" class="w-100" height="200px">
            </ng-template>
        }
    
      </owl-carousel-o>
</section>

<!--Products section-->
<section>
    <div class="container">
        <div class="text-center m-2">
            <h2>Popular Products</h2>
        </div>
        <div class="my-2">
            <input [(ngModel)]="searchInputValue" type="text" class="form-control w-50 mx-auto" placeholder="Search By Title">
        </div>
        <div class="row row-cols-lg-6 row-cols-md-3 row-cols-sm-2 p-2">
            @for(product of products | search : "title" : searchInputValue ; track product._id){
                <div class="p-2">
                    <div class="product p-2 rounded-2">
                        <div class="cursor-pointer" [routerLink]="['/main/productDetails', product.id]">
                            <div class="product-img">
                                <img [src]="product.imageCover" class="w-100 rounded-3" [alt]="product.title">
                            </div>
                            <div class="product-info">
                                <h3 class="fs-6 text-main">{{product.category.name}}</h3>
                                <h2 class="fs-6 fw-bold">{{product.title.split(' ').slice(0,2).join(' ')}}</h2>
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <div>
                                        <p>{{product.price | currency}} </p>
                                    </div>
                                    <div class="small">
                                        <p>
                                            @for(rate of [1,2,3,4,5].slice(0 , product.ratingsAverage) ; track $index){
                                                <i class="fa-solid fa-star rating-color"></i>
                                            }
                                            @if(product.ratingsAverage % 1 != 0){
                                                <i class="fa-regular fa-star-half-stroke rating-color"></i>
                                            }
                                            {{product.ratingsAverage}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <button class="btn-main w-100">Add to cart +</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>